.get-involved {
    /* width: 80vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 2vw; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin: 2vw; */
    /* margin-top: 2vw; */

    /* align-items: center; */
    /* background-color: #fcf4cf; */

    /* border-radius: 2%; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 30vw;
    padding: 2vw;
    border-radius: 2vw;
    outline: 1px solid #222221;


}

.involved {
   
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}