.rootLayout {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  position: relative;
}
