.MiddleBackground    {
    /* background-color: #fcf4cf; */
    padding: 2vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    
}

.Section {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* width: 80%; */
    /* margin: 4vw; */
    
    
}

.Section p {
    font-family: 'Prata', serif;
    padding: 1vw;
    font-size: 1vh;
}

.MiddleBackground button {
    

    background-color: #febd69;
    /* border-radius: 2vw; */
    box-shadow: none;
    outline: none;
    font-size: 1.5vh;
    --bs-btn-bg: #febd69;
    --bs-btn-hover-bg: #febd69;
    --bs-btn-border-color: #1E1E1E;
    --bs-btn-bg: #febd69;
    --bs-btn-hover-bg: #febd69;
    
}
.MiddleBackground button:hover {
    

    background-color: #febd69;
    /* border-radius: 2vw; */
    box-shadow: none;
    outline: none;
    font-size: 1.5vh;
    --bs-btn-bg: #febd69;
    --bs-btn-hover-bg: #febd69;
    --bs-btn-border-color: #1E1E1E;
    --bs-btn-bg: #febd69;
    --bs-btn-hover-bg: #febd69;
    
}


.MiddleBackground .google {
    

    background-color: #febd69;
    /* border-radius: 2vw; */
    box-shadow: none;
    outline: none;
    font-size: 2vh;
    --bs-btn-bg: #febd69;
    --bs-btn-hover-bg: #febd69;
    --bs-btn-border-color: #1E1E1E;
    --bs-btn-bg: #febd69;
    --bs-btn-hover-bg: #febd69;
    
}

.ortext p {
    font-family: 'Prata', serif;
    font-size: 1.5vh;
    margin-top: 1vh;
    padding: 1vw;
    font-weight: 600;
}