.MiddleBackground    {
    background-color: #fcf4cf;
    padding: 2vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    
}

.Section {
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* width: 80%; */
    /* margin: 4vw; */
    
    
}

.Section p {
    font-family: 'Prata', serif;
    padding: 1vw;
    font-size: 1vh;
}

.MiddleBackground button {
    

    background-color: #D57D6E;
    outline: #D57D6E, 1px solid;
    --bs-btn-border-color: #D57D6E;
    --bs-btn-hover-bg: #db8a7b;
    --bs-btn-hover-border-color: #db8a7b;
    --bs-btn-hover-color: #1E1E1E;
    --bs-btn-active-bg: #db8a7b;
    --bs-btn-active-border-color: #db8a7b;
    --bs-btn-bg: #db8a7b;
    font-family: 'Dongle', serif;
    font-size: 1.45rem;
    color: #1E1E1E;
    line-height: 1.25vh;
}

.MiddleBackground .google {
    

    background-color: #D57D6E;
    outline: #D57D6E, 1px solid;
    --bs-btn-border-color: #D57D6E;
    --bs-btn-hover-bg: #db8a7b;
    --bs-btn-hover-border-color: #db8a7b;
    --bs-btn-hover-color: #1E1E1E;
    --bs-btn-active-bg: #db8a7b;
    --bs-btn-active-border-color: #db8a7b;
    --bs-btn-bg: #db8a7b;
    font-family: 'Dongle', serif;
    font-size: 1.45rem;
    color: #1E1E1E;
    line-height: 1.25vh;
}