h1 {
    /* make the text filled with a gradient */
    background: radial-gradient(circle, #FDCC7D, #FAD9F5) 0% 0% / 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20vh;

    font-weight: bold;
    text-align: center;
    /* margin-top: 2vh; */
    /* padding-top: 3vh; */
    /* margin-bottom: 2vh; */
    text-align: center;
    /* vertically align center */
    /* display: flex; */
    align-items: center;
    justify-content: center;

    /* border-radius: 2%; */
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */

}
@media screen and (max-width: 608px) {
    h1 {
        font-size: 8vh;
    }
}
    


.loading {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
}