.color-nav {
    background-color: #9d7ad2;
    outline: 1px solid rgb(8, 8, 8);
    

    /* text-align: left; */
    font-family: 'Zilla Slab', serif;

    /* margin-left: 10vh; */
    position: sticky;
    color:white;
    top: 0;
}
.spanned {
    margin-right: 2vh;
    color: black;
    /* padding: 0.2%; */
    /* outline: 1px solid black; */
}
.spanned:hover {
    font-weight: bold;
    color: black;
}
.spacing{
    margin-left: 2vh;
    /* color: white; */
    /* margin-right: 10vh; */


}

@media screen and (max-width: 800px) {
    .color-nav {
        background-color: #9d7ad2; 
        text-align: left;
        font-family: 'Zilla Slab', serif;

         /* margin-left: 10vh; */
         position: sticky;
        color:white;
        font-size: 10px;
        top: 0;
        width: 100%;
        /* user-scalable=0; */
    }
    .spacing{
        /* margin-left: 2vh; */
        color: white; 
        /* margin-right: 10vh;  */
    }
    .me-auto {
        font-size: 16px;
        margin-left: 5%;
        /* outline: 1px solid rgb(215,205,197); */
        
    }
    .nav-link {
        border-top: 1px solid rgb(215,205,197);
    }
}
    
