.homez{
    /* margin-top: 10%; */
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    margin: 4%;
    cursor: false;
}

@media screen and (max-width:800px) {
    .homez {
        margin: 2%;
        width:100vw;
        margin-right: 7%;

    }
    

}