.internalz{
    /* margin-top: 10%; */
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    margin: 4%;
    cursor: false;
    /* width: 100vw; */
}
.create {
    margin:auto;
    /* float: left; */
    /* margin-bottom: 2%; */
    /* transform: scale(1.4); */
    /* transform: translate(20%, 50%); */
    padding: 2%;
    margin-bottom: 2%;
   outline: 1px solid black;
   background-color: rgba(155, 137, 179, 0.3)   ;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
   width: 70vw;
   /* height: 2vw; */
}
.card2 {
    margin:auto;
    /* margin-bottom: 2%; */
    /* transform: scale(1.4); */
    /* transform: translate(20%, 50%); */
    padding: 5%;
    margin-bottom: 2%;
   outline: 1px solid black;
   background-color: rgba(155, 137, 179, 0.3)   ;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
   width: 70vw;
}