.prof {
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    margin: 4%;
    cursor: false;
    color: black;
    height: 100vh;
}
.row-z {
    /* display: flex; */
    width: 100%;
    /* text-align: center; */
    
}
.column {
    /* float: left; */
    outline: 1px solid black;
    /* width: 110%; */
    padding: 2%;
    margin: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}
.leftside {
    float: right;
    width: 50%;
    margin-top: -9%;
    margin-right: 10%;
}
.rightside {
    float: left;
    width: 50%;
    margin-top: 7%;
    margin-left: 7%;
    /* margin-left: 5%; */
}
.internal {
    outline: 1px solid black;
    width: 30%;
    padding: 2%;
    /* margin: 2%; */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    /* float: left; */
    /* margin: auto;
    float: left; */

}
@media screen and (max-width:1270px) {
    .leftside {
        margin-top: -20%;
        margin-left: 7%;
        float: left;
        width: 100%;
        /* margin:auto; */
    }
    .prof {
        display: inline-block;
    }
    .rightside {
        /* float: left; */
        margin-bottom: 20%;
        margin-right:20%;

        padding: 2%;
    }
}