
.signup {
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    margin: 4%;
    cursor: false;
}

.signup_container {
    outline: 1px solid black;
    padding: 2%;
    background-color: rgb(183, 176, 199);
    /* float: left; */
    display: flex;

}
.float1 {
    float: left;
    

}
.float2 {
    float:right;
}
.imag {
   
    
    
        /* margin-left: 10px; */
        /* padding-left: 10vh;
         */
        /* padding-left: 2vh; */
        padding-top: 2vh;
        padding-left: 2vh;
        padding-bottom: 2vh;
        width: 70%;
        height:100%;
        font-family: 'Zilla Slab', serif;
    
}