.story {

        font-family: 'Zilla Slab', serif;
        font-weight: bold;
        margin: 4%;
        cursor: false;
        /* margin:auto; */
        
    
}
.story1 {
    outline: 1px solid black;
    padding: 2%;
    background-color: rgba(155, 137, 179, 0.3)   ;
    width: 70%;
    /* margin-right: 20%; */
    margin: auto;
    text-align: left;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 2%; */
    /* margin-left: 20%; */
    
}
.story2 {
    outline: 1px solid black;
    padding: 2%;
    background-color: rgba(155, 137, 179, 0.3)   ;
    width: 70%;
    /* margin-right: 20%; */
    margin: auto;
    text-align: center;
    margin-top: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.edit {
    outline: 1px solid black;
    background-color: rgba(155, 137, 179, 0.5)   ;
    width: 100%;
    margin: auto;
    /* margin-left: 2%;
    margin-right: 2%; */
    margin-inline-start: 1%;
    margin-inline-end: 1%;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}
.edit_large {
    margin:auto;
    width: 71.5%;
    display: inline-flex;
    margin-top : 1%;
    float:right;
    margin-right: 14.25%;
    /* margin-left: 25%; */
    /* margin-inline-start: 2%;
    margin-inline-end: 2%;
    margin-left: 2%; */
    /* float: center; */
}