.portfolio {
    margin: 2vw;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.portfolio-card {
    /* background-color: #E6C17B; */
    padding: 2vw;
    width: 90vw;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: flex-start;
   background-color: rgba(240, 248, 255, 0.156);
    align-items: flex-start;
    border-radius: 2vw;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    outline: #1E1E1E, px solid;

  }
  
  .portfolio-card-content {
    flex: 5;
    /* flex-basis: 2vw; */
    /* margin-right: 20px; */
    /* align-items: left; */
    /* justify-content: flex-start; */
    display: flex;
    flex-direction: column;
  }

  .portfolio-card-content a {
    /* margin-right: 2vw; */
    margin: 2vw;
    width: 80%;
  }
  
  .portfolio-card-content-text {
    flex: 15;
  }

.portfolio-card img {
    width: 70%;
    border-radius: 50%;
    margin-left: 2vw;
    justify-content: flex-start;
    /* justify-content: center; */
}

.portfolio-card p {
    font-family: 'Prata', serif;
    padding: 1vw;
    font-size: 2.5vh;
}
.portfolio-card a {
    margin-left: 1vw;
    background-color: #EFD79F;
    outline: #EFD79F, 1px solid;
    --bs-btn-border-color: #EFD79F;
    --bs-btn-hover-bg: #EFD79F;
    --bs-btn-hover-border-color: #EFD79F;
    --bs-btn-hover-color: #1E1E1E;
    font-family: 'Dongle', serif;
    font-size: 1.45rem;
    color: #1E1E1E;
}

.portfolio-card h3 {
    /* bold the text */
    font-weight: bold;

}